<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>杭州美创</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap_3.3.6.min.css">
</head>
<body style='text-align: center;'>
<header>
    <h1><%= title %></h1>
</header>
<!-- <nav>
    <span><a title="主页" href="/">主页</a></span>
    <span><a title="登陆" href="/login">登录</a></span>
    <span><a title="注册" href="/reg">注册</a></span>
</nav> -->
<br />
<article>